<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AngularJS-过滤器</title>
	<script src="../js/angular-1.4.6-min.js"></script>
</head>
<body>
	<div ng-app="myApp" ng-controller="personCtrl">
		<p>姓名为{{ lastName |uppercase }}</p>
		<br>
		<input type="number" ng-model="quantity"> <br>
		<input type="number" ng-model="price"> <br>
		<p>总价 = {{(quantity*price) | currency}}</p>
	</div>
	<script>
		var app = angular.module('myApp', []);
		app.controller('personCtrl', function($scope){
			$scope.lastName = 'lily';
			$scope.quantity = 1;
			$scope.price = 9.99;
		});
	</script>
</body>
</html>